.nav {
    position: sticky;
    /* Makes the navbar sticky */
    top: 0;
    /* Sticks the navbar to the top of the viewport */
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9dvh;
    background-color: white;
    padding: 0px 8dvw 0px 8dvw;
}

.nav img {
    will-change: transform;
    object-fit: cover;
    max-height: 40%;
}

.nav>.hamcontainer {
    width: 50px;
    height: 50px;
    display: none;
    position: relative;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    justify-content: center;
}

.nav>.hamcontainer::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #be181c;
    position: absolute;
    bottom: -100%;
    transition: all ease 0.3s;
}

.nav>.hamcontainer:hover::after {
    bottom: 0;
    border: 50%;
}

.hamburger {
    position: relative;
    z-index: 100;
    transition: all ease 0.3s;

}

.nav>.hamcontainer:hover .hamburger {
    color: white;
}

.nav ul {
    display: flex;
    width: 60%;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
}

.nav ul li {
    cursor: pointer;
    color: #747474;
    font-family: "Poppins", serif;
    font-size: 1.2rem;
    font-weight: 400;
}

@media (max-width:1100px) {
    .nav>ul {
        display: none;
    }

    .nav>.hamcontainer {
        display: flex;
    }
}

.page1 {
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    height: 80dvh;
    background-color: #be181c;
}

.page1waveimg {
    width: auto;
    position: relative;
    top: -1px;

}

.mainheadingmagnet {
    position: absolute;
    height: 100%;
    rotate: 90deg;
}

.mainheadingmagnet2 {
    position: absolute;
    height: 100%;
    rotate: 270deg;
}

.mainheading {
    position: relative;
}

.mainheading2 {
    position: relative;
}

.kuchbhi {
    position: absolute;
    left: -100%;
}

.page1>.maincontaint {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin: 0px 8dvw 0px 8dvw;
    justify-content: center;
    height: 90%;
}

.page1>.maincontaint>h1 {
    font-family: "Poppins", serif;
    font-weight: 700;
    color: white;
    font-size: clamp(1.7rem, 5vw, 3rem);
}

.page1>.maincontaint>h1>span {
    position: relative;
}

.page1>.maincontaint>p {
    font-family: "Poppins", serif;
    color: white;
    margin-top: 10px;
    font-size: clamp(0.2vw, 3.4vw, 1.3rem);
}

.page1>.maincontaint>button {
    margin-top: 50px;
    font-size: clamp(0.9rem, 2.5vw, 1.2rem);
    font-weight: 400;
    height: clamp(2rem, 5vw, 3rem);
    width: clamp(8rem, 20vw, 12rem);
    color: #be181c;
    background-color: white;
    text-align: center;
    border-radius: 30px;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.page1>.maincontaint>button:hover {
    color: white;
    background-color: darkred;
    transform: scale(1.05);
}

.page1>.contactinfo {

    display: flex;
    position: relative;
    z-index: 2;
    margin: 0px 8dvw 0px 8dvw;
    justify-content: space-between;
    align-items: center;
    height: 8%;
}

.topleftmg {
    width: clamp(35rem, 20vw, 50rem);
    position: absolute;
    top: 0;
    left: 0;
}

.bottomrightmg {
    width: clamp(12rem, 20vw, 50rem);
    position: absolute;
    bottom: 0;
    right: 0;
}

.page1>.contactinfo>.gmail {
    font-family: "Poppins", sans-serif;
    color: white;
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
}

.page1>.contactinfo>.gmail>p {
    font-size: clamp(0.6rem, 1vw, 1rem);
}

.page1>.line {
    position: relative;
    z-index: 2;
    height: 2px;
    background-color: #8c090a;
}

.page1>.contactinfo>.othercontact {
    display: flex;
    gap: 10px;
}

/* page 2 */
.page2 {
    margin-top: 70px;
}

.page2-heading {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: clamp(2rem, 5vw, 3rem);
    text-align: center;
    color: #be181c;
}

.services-container {
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 40px;
    display: flex;
    justify-content: center;
}

.services-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    max-width: 12rem;
    min-width: 8rem;
    height: 12rem;
    flex: 1 1 300px;
    background: white;
    -webkit-box-shadow: 0px 0px 55px -8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 55px -8px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 55px -8px rgba(0, 0, 0, 0.2);

    gap: 20px;
}

.upper-section {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background: #be181c;
}

.upper-section>img {
    width: 100%;
    height: 100%;
}

.lower-section>h1 {
    font-family: "Poppins", serif;

    font-size: clamp(1.2rem, 2vw, 1.2rem);
}

/* page3 */
.page3 {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.text-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    flex: 1 1 400px;
}

.text-container>h3 {
    font-family: "Poppins", serif;
    font-weight: 700;
    color: red;
    font-size: clamp(1.7rem, 5vw, 3rem);
}

.text-container>p {
    font-family: "Poppins", serif;
    color: rgb(48, 45, 45);
    margin-top: 10px;
    font-size: clamp(0.2vw, 3.4vw, 1.3rem);
}

.margin {
    margin: 0px 8dvw 0px 8dvw;

}

.image-container2 {
    position: relative;
    z-index: 2;
    width: fit-content;
    height: fit-content;
}

.image-container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    flex: 1 1 300px;
}

.image-container2>.puzlimg {
    position: absolute;
    top: -25%;
    left: -45%;
    animation: puzzle 5s infinite ease-in-out;
}

.image-container2>img {
    width: 20vw;
    max-width: 8rem;
}

.circel-bg {
    height: 14rem;
    width: 14rem;
    position: absolute;
    animation: borderRadiusAnimation 5s infinite ease-in-out;
    background-color: #fe7477;
    border-radius: 50%;
}

@keyframes puzzle {
    0% {
        top: -25%;
        left: -30%;

    }

    50% {
        top: -35%;
        left: -35%;
    }

    100% {
        top: -25%;
        left: -30%;

    }
}

@keyframes borderRadiusAnimation {
    0% {
        border-radius: 149px 200px 168px 200px;
        -moz-border-radius: 149px 200px 168px 200px;
        -webkit-border-radius: 149px 200px 168px 200px;
        border: 0px solid #000000;

    }

    50% {
        border-radius: 166px 148px 200px 152px;
        -moz-border-radius: 166px 148px 200px 152px;
        -webkit-border-radius: 166px 148px 200px 152px;
        border: 0px solid #000000;
    }

    100% {
        border-radius: 149px 200px 168px 200px;
        -moz-border-radius: 149px 200px 168px 200px;
        -webkit-border-radius: 149px 200px 168px 200px;
        border: 0px solid #000000;

    }
}

@media (max-width:600px) {
    .circel-bg {
        height: 11rem;
        width: 11rem;

    }
}

@media (max-width:450px) {
    .circel-bg {
        height: 9rem;
        width: 9rem;
        position: absolute;
        background-color: pink;
        border-radius: 50%;
    }
}